*.pyc
*.pth
*.out
*.code-workspace
launch.json
.DS_Store

_old/*
api_server/_debug/*
api_server/tmp/*
api_server/openpose_wrapper/openpose_gpu/*
api_server/datasets/test/*
api_server/datasets/test/cloth/*
api_server/datasets/test/cloth_mask/*
api_server/datasets/test/poseA/*
api_server/datasets/test/poseA_keypoints/*
api_server/datasets/test/poseA_parsing/*
api_server/datasets/test/poseB/*
api_server/datasets/test/poseB_keypoints/*
api_server/datasets/test/poseB_parsing/*

docker-compose_cpu.yml
